:root{
    --main:#4b345d;
    --header-font-color:#d5d5d5;
    --body-color:#e2e2d7;
    --form-font-color:#6d6d65;
    --button-bg-color:	#e90171;
    --button-hover-color:hsl(331, 99%, 56%);
    --input-border-color:#8f8f87;
    --social-icons-bg-color:#9e94a7;
}
body,html{
    height: 100%;
}
form{
    width: 100% !important;
}
@font-face {
    src: url("../fonts/vistasansaltlight-071211005EmigreWebOnly.eot"),url("../fonts/vistasanslight-020415006EmigreWebOnly.woff2");
    font-family: vista-sans;
}

body{

    background-color: var(--body-color);
    background-color:#e2e2d7 ;

}
a{
    text-decoration: none;
}
select{
    -webkit-appearance:none;  /* for chrome & safari */
    -moz-appearance: none; /* for mozilla */
    background-image:url("../images/down-arrow.png");
    width: 100%;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position:95% center;
}
select::-ms-expand{
    display: none;
}
.app-container{
    padding:0;
    width: 100%;
    margin:0 auto;
}
header{
  /*  position: relative;*/
    background-color: var(--main);
    background-color: #4b345d;
    height: 90px ;
}

header .app-container{
    padding-top: 12px;
}

header .links{
    height: 30px;
    margin-top: 4px;
}
header .links a{
    display: inline-block;
    color:var(--header-font-color);
    color:#d5d5d5;
}
header .social-icon{
    background-color: var(--social-icons-bg-color);
    background-color: #9e94a7;
    width: 34px;
    height:33px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
}
header .social-icon:nth-child(3){
    margin-left: 48px;
}
header .social-icon>a{
    color:var(--main) !important;
    color:#4b345d!important;
}

header .live-chat{
    margin-left: 48px;
}
header .live-chat > a{
    font-family: vista-sans;
    font-size: 19px;
    position: relative;
    height:100%;
    border:1px solid var(--header-font-color);
    border:1px solid #d5d5d5;
    padding: 0px 14px;
}
header .live-chat>a:before,.live-chat>a:after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 5px solid transparent;
    left:20px;
}
header .live-chat>a:after{
    border-top: 10px solid var(--main);
    border-top:10px solid #4b345d;
    top: 100%;
}
header .live-chat>a:before{
    border-top: 10px solid white;
    top: calc(100% + 1px);
}
header a:hover{
    text-decoration: none;
    color: #ffffff !important;
}
header .menu-bar{
    display: none;
}
.app-container.section{
    padding-top: 22px;
}
.content .form-container{
    flex-basis: 347px;
    max-width: 347px;
    margin-right: 90px;
    font-family: vista-sans;
}
.content .form-container .form-title{
    font-family: vista-sans;
    color:var(--main);
    color:#4b345d;
    font-size:26px;
    margin-bottom: 20px;
    padding-top: 11px;
}
.content .form-container .form-title .first-word{
    display: none;
}
.content .form-container .form-title .second-word{
    text-transform: capitalize;
}

.content .form-container input,.content .form-container select{
    font-family: vista-sans;
}

.content .form-container .form-information-par{

    font-family: vista-sans;
    font-size:10px;
    text-align: center;
    color:var(--form-font-color);
    color:#6d6d65;
    line-height: 15px;
    margin-top: 14px;

}
.content .form-container .mktoFormCol{
    margin-bottom: 14px!important;
}
.form-container .mktoForm select.mktoField, .form-container .mktoForm input{
    font-size: 18px!important;
}
.content .main-image{
    align-self: flex-start;
}


.form-container .mktoForm input::-moz-placeholder{
 
    opacity: 1;
}


/*Mobile*/
nav{
    background: #4b345d;
    display: none;
    height: 94px;
}

.menubox{
    margin-top: 8px;;
    width: 48px;
    height: 39px;

}
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #4b345d;
    padding: 10px;
    min-width: 100%;
    height: calc(100vh - 77px);
    overflow: auto;
    top: 100%;
    right:-15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    width: 100vw;
}
hr{
    border: #d4d4ce solid 1px;
    display: none;
    width: 304px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 19px;
    font-weight: 200;
    text-decoration: none;
    display: block;
    background-color: #2d1938;
    width: 100%;
    margin:0 auto 10px auto;
}

.dropdown a:hover {
    color: #e90172 !important;
    text-decoration: none;
}

.show {
    display: block;
}
.header{
    width: 100%;
    height: 160px;
    padding-top: 21px;
    background: url("../images/ApplicationMobile_320_header.jpg") ;
    display: none;
}
.header>h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #4b345d;
    font-weight: normal;
    padding: 0;
    margin: 0;
    word-spacing: -5px;
    text-align: center;
}
footer{
    display: none;
    background-color: #f7f7ef;
    text-align: center;
}
.footer-text{
    color:var(--main);
    color:#4b345d;
}
footer>iframe{
    display: inline-block;
}
.form-container #FirstName,.form-container #LastName{
    border-color: #8f8f87;
}
.form-container .mktoForm select.mktoField, .form-container .mktoForm input{
    border-color: #8f8f87;
    border-style:solid;
}
.form-container #Phone{
    border: 1px solid #8f8f87!important;
}
/*CheckBox*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 41px;
    width: 41px;
    background-color: #f7f7ef;
    border:1px solid #8f8f87;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {

}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 27px;
    top: -18px;
    width: 8px;
    height: 45px;
    border: solid #8f8f87;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(45deg);
    transform: rotate(42deg);
}
/*CheckBox*/
/*Mobile*/

.form-container .mktoFieldDescriptor .mktoFormCol{
    width: 100%!important;
}
.form-container .mktoForm {
    color: #6D6D65 !important;
}
.form-container input, .form-container .actual-edit-overlay{
    -webkit-text-fill-color:var(--form-font-color)!important;

}
.form-container .mktoForm select.mktoField,.form-container .mktoForm input{
    color: #6D6D65 !important;
}
.form-container #new_dateofbirth{
    width: 75% !important;
}
.form-container .mktoLabel.mktoHasWidth[for="new_dateofbirth"]{
    width: 25% !important;
}
.form-container .mktoLabel.mktoHasWidth[for="new_confirmedschoolperformancefactsheet"]{
    width: 87% !important;
}
.form-container #new_confirmedschoolperformancefactsheet{
    width: 100% !important;
}
.form-container .mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList{
    width: 13% !important;
    float: left!important;
}
.form-container .mktoForm .mktoLabel{
    float: left !important;
}
.form-container .mktoForm .mktoLabel[for="new_confirmedschoolperformancefactsheet"]{
    float: right !important;
}

@media (min-width: 1025px) {
    .app-container {
        max-width: 980px;
    }
    .app-container.section{
        max-width: 1003px;
        padding-left: 11px;
    }
    .logo{
        width:261px;
    }
}


@media (max-width: 1025px){
    .app-container{
        padding: 0 15px;
    }
    header .links{
        display:none !important;
    }
    header .menu-bar{
        display:block;
    }
    .dropdown{
        display: block;
        margin-top: 10px;
    }
    .main-image{
        width: 500px;
    }


}
@media (max-width: 955px) {
    .content .form-container{
        margin-right: 45px;
    }
}
@media (max-width: 908px){
    .main-image{
        width: 400px;
    }
}

@media (max-width: 800px) {
    header{
        height:134px;
    }
    .dropbtn>img {
        width: 59px;
        height: 40px;
    }
    .content .form-container .mktoFormCol{
        margin-bottom: 18px!important;
    }
    .dropdown-content{
        right: -19px;
    }
    .header{
        display: block;
    }
    .dropdown{
        margin-right:4px;
    padding-top: 14px ;
    }
    .content .form-container .form-title .first-word{
        display: inline;
        text-transform: capitalize;
    }
    .content .form-container .form-title .second-word{
        
        text-transform:lowercase;
    }
    .content .form-container .form-title{
        font-size: 35px;
        margin-bottom: 18px;
        font-family: vista-sans;
        margin-top: 55px;
    }
    .header{
        height: 160px;
        padding-top: 21px;
        background: url("../images/ApplicationTablet_800.png") ;
    }
    .header>h1{
        text-align: left;
        padding-left: 56px;
        font-size: 50px;
    }
    .app-container.section{
        max-width: 715px;
        padding: 0 15px;
    }

    .form-container .mktoForm select.mktoField,.form-container .mktoForm input,.form-container .mktoForm button.mktoButton,.form-container .mktoForm .mktoButtonRow{
        width: 100% !important;
        height: 70px !important;
        font-size: 30px !important;
        padding-left: 25px !important;
    }
    .form-container #FirstName,.form-container #LastName,.form-container #Phone, .form-container #new_primarycountrycode{
        width: 100%!important;
    }
    .form-container .mktoForm button.mktoButton,.form-container .mktoForm .mktoButtonRow{
        padding-left: 0!important;
    }

    .form-container .mktoForm .mktoButtonRow{
        padding-left: 0!important;
    }
    .form-container .mktoForm .mktoFormRow{
        width: 100%!important;
    }
    .logo{
        padding-left: 4px;
        width:343px;
        height: 90px;
    }
    .form-container .mktoForm .mktoFormCol{
        width: 100%;
    }
    .form-container .mktoForm .mktoFieldWrap{
        width: 100%;
    }
    .main-image{
        display: none;
    }
    .content .form-container{
        width: 100% !important;
        max-width: 100%;
        margin: 0 auto;
        flex-basis: 100%;
    }
    .form-information-par{
        font-size: 20px!important;
        line-height: inherit!important;
       padding-top: 20px;
       padding-left: 10px;
       padding-right: 10px;
       
    }
    header .app-container{
        padding-top: 22px;
    }
    footer{
        display: block!important;
    }
    hr{
        display: block;
        width: 100%;
        margin-top: 75px;
        margin-bottom: 84px;
    }
    footer>iframe ,footer>h1 {
        display: none;
    }
  
    .foot-img{
        display: block ;
        width: 100%;
        margin-bottom:260px; 
    }
  
    footer .foot-img img{
        display: block;
        width: 100%;
        height: auto;
       
    }
    .foot-img .foot-p{
        padding-right: 66px;
        padding-left: 55px;
        padding-top: 35px;
        width: 100%;
      
        font-size: 45px;
        display: block;
        background: #635370;
        font-family: 'Times New Roman';
        font-style: italic;
        color: #f4f3f5;
        line-height:45px;

    }
    .foot-img .wom-name{
        display: inline-block;
        padding-top:40px;
        font-family: vista-sans;
        font-size: 38.29px;
        margin-bottom:32px;
    }
}
@media(max-width:799px){
    .header{
        height: 160px;
        background-size: contain;
        background-repeat: round
    }
    .header>h1{
        font-size:3.125rem;
    } 
}
@media(max-width:690px){
    .header>h1{
        font-size:2.5rem;
    } 
}
@media(max-width:560px){
    .header{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header>h1{
        
        font-size:1.8rem;
      
    } 
    .form-container .form-title{
        margin-top:0px !important;
    }
.header{
    height: 105px;;
}
}
@media(max-width:500px){
    .header>h1{
        
        font-size:1.3rem;
      
    } 
}
@media (max-width: 460px){
   
    footer>iframe ,footer>h1 {
        display: block;
    }
    .foot-img{
        display: none;
    }
   
    hr{
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    footer>iframe{
        margin-top: 26px!important;
        margin-right:auto;
        margin-left: auto;
        height:256px!important;
        width:292px!important;
    }
}
@media( max-width: 480px){
    .form-container .mktoForm .mktoFormRow .mktoField{
        clear: none!important;
    }
}
@media (max-width: 460px) and (min-width: 321px){
    
    .form-container .mktoForm select.mktoField, .form-container .mktoForm input,.form-container .mktoForm button.mktoButton,.form-container .mktoForm .mktoButtonRow{
        width: 100%!important;

    }
    .form-container .mktoForm select.mktoField, .form-container .mktoForm input{
        padding-left: 13px!important;
    }
    .form-container #FirstName,.form-container #LastName,.form-container #Phone,.form-container #new_primarycountrycode{
        width: 100% !important;
    }

    .form-container .mktoForm .mktoButtonRow{
        padding-left: 0!important;
    }
    .form-container .mktoFormRow{
        width: 100%!important;
    }

}
@media (max-width:451px){
    .header{
        height: 160px!important;
    }
    .form-container .mktoForm select.mktoField,.form-container .mktoForm input{
        font-size: 26px !important;

    }
    header .app-container{
        padding-top: 0;
    }
    .header>h1{
        font-size: 50px;
        text-transform: uppercase;
        color: #4b345d;
        font-weight: normal;
        padding-left: 0;
        margin: 0;
        word-spacing: -5px;
        text-align: center;

    }
    .dropbtn>img {
        width: auto;
        height: auto;
    }
    .form-container .mktoField{
        font-size: 26px !important;

    }
    .form-title{
        margin-top: 6.5px;
    }
    .footer-text{
        font-size: 26px;
        margin: 0;
        margin-top: 12px;
        padding-bottom: 98px;
    }
    .app-container{
        padding: 0 17px;
    }
    .dropdown-content{
        right: -17px !important;
    }
    .app-container.section{
        max-width: 320px;
        min-width: 320px;
    }

    header .links{
        display: none!important;
    }
    header nav{
        display: block!important;
    }
    .logo{
        width: 235px!important;
        height: 62px!important;
        margin-top: 16px!important;
        margin-left: 1.5px!important;
        padding: 0!important;
    }
    header{
        height:94px!important;
    }

    .form-container{
        text-align: center!important;

        width: 320px!important;
        margin: 0 auto!important;

    }
    .header{
        display: block;
    }
    .app-container.section{
        padding: 0 !important;
        width: 320px!important;
    }
    .dropdown{
        margin-top: 25px!important;
        padding-top: 0px ;
        margin-right: 0px;
    }
    footer{
        display: block!important;
    }
    hr{
        display: block!important;
    }
    .content .form-container .mktoFormCol{
        margin-bottom: 20px!important;
    }
    .content .form-container .form-title{
        font-size: 39px!important;
        margin-top: 4px;
    }
    .content .form-container .form-title .first-word{
        display: inline!important;
        text-transform: capitalize!important;
    }
    .content .form-container .form-title .second-word{
        text-transform: none!important;
    }
   
    .content .form-container .form-information-par{
        padding: 0 10px!important;
        padding-right: 13px!important;
    }
    .form-container #mktoForm_1307{
         padding: 0!important;
     }
    .form-container #mktoForm_1308{
        padding: 0!important;
    }
    .header{

        background: url("../images/ApplicationMobile_320_header.jpg") ;

    }
}



@media (max-width: 360px) and (min-width: 0px){
    .form-container .mktoLabel.mktoHasWidth[for="new_dateofbirth"]{
        padding-right: 10px!important;
        text-align: left!important;
    }
    .header>h1{
        font-size: 40px!important;
    }

    .form-container .mktoForm .mktoButtonRow{
        padding-left: 0!important;
    }

}

@media (max-width:321px){
.header{
    height: 160px!important;
}
    header .app-container{
        padding-left: 5px!important;
        padding-right: 9px!important;
    }
    .app-container.section{
        max-width: 294px;
        min-width: 294px;
        padding: 0!important;
    }

    hr{
        width: 100%;
    }
    .content .form-container .form-information-par{
        
       padding-left: 13px!important;
        padding-right: 9px!important;
        width: 272px;
        text-align: center;

    }

    .content .form-container .form-title{
        font-size: 33px!important;
        margin-top:18px!important;
        margin-bottom: 22px!important;
        margin-left:-2px;
        text-align: left!important;
        padding-top: 0;

    }
    .header>h1{
        font-size: 40px!important;
    }

    .logo{

        width: 235px!important;
        height: 62px!important;
        margin-top: 13.50px!important;
        margin-left: 0px!important;
        margin-right: 17px!important;
    }

    footer>iframe{

        height:253.5px!important;


    }
    .dropdown-content {
        min-width: 100%!important;
        overflow: auto!important;
        top: 100%!important;
        right:-9px!important;
        left:auto!important;
    }

    .form-title{
        margin-top: 7px!important;
    }
    .content .form-container .mktoFormCol{
        margin-bottom: 19px!important;
    }
    .form-container .mktoForm select.mktoField, .form-container .mktoForm input,.form-container .mktoForm button.mktoButton{
        width: 100%!important;

    }
    .form-container .mktoForm .mktoButtonRow{
        padding: 0!important;
    }
    .form-container .mktoForm select.mktoField, .form-container .mktoForm input{
        padding-left: 10px!important;
    }

}
.social-icon-menu{
    background-color: var(--social-icons-bg-color);
    width: 34px;
    height:33px;
    padding-top:6.5px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background-color: #9e94a7;
}



